body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0f172a;
    font-family:Arial;
}

.card{
    background:white;
    padding:30px;
    width:350px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:14px;
    border:1px solid #ccc;
    border-radius:10px;
    margin-bottom:15px;
    font-size:16px;
}

button{
    width:100%;
    padding:14px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

#result{
    margin-top:20px;
    font-size:18px;
    font-weight:bold;
}